body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
h1 {
    color: red;
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
}
h2 {
    color: red;
    font-size: 22px;
}
#firsth3 {
    color: green;
    font-size: 20px;
}
#secondh3 {
    color: blue;
    font-size: 20px
}
h4 {
    color: gray;
    font-size: 18px;
    text-align: center;
}
p {
    font-size: 16px;
}
footer p {
    font-size: 12px;
    font-style: italic;
}
.autor {
    font-size: 14px;
    font-style: italic;
    color: brown;
}
.ul-nopoints {
    list-style-type: none;
}