body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
h1 {
    color: red;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}
.red {
    color: rgb(255,0,0)
}
.green {
    color: rgb(0,255,0)
}
.blue {
    color: rgb(0,0,255)
}
.white {
    color: rgb(255,255,255);
    background-color: black
}
#alpha {
    color: rgba(0,0,0,0.5)
}
.beispiel {
    font-size: 20px;
    color: rgb(109,206,187);
    margin-left: 5px;
}
.normalborder {
    border: 2px solid black;
    margin-right: 1600px;
}
.px5 {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
.link {
    font-size: 17px;
    color: blue;
}
#bm50 {
    margin-bottom: 50px;
}
h2 {
    color: #a766ab
}